@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Open+Sans:wght@300&family=Quicksand&display=swap');
body{
    margin: 0%;
}
/*Seccion cabecera - Barra Superior*/
#sc_cabecera{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30%;
    background-image: url("../IMG/img_casa005.png");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    filter:opacity(95%);
    
  
}
#br_cabecera{
    display: grid; 
    grid-template-columns: 8fr 2fr 1fr 1fr;     
    height: 30%;/*ojo*/
    border-bottom: 0.1px solid white;
    font-family: 'Quicksand', sans-serif;
    justify-items: stretch;
    font-size: 14px;
    background-color:#0003;
   /* opacity: 20%;*/
    
}

#logo{
    margin-left:122px;
    width: auto;   
    background-image: url("../IMG/img_logo002.png");    
    background-repeat: no-repeat;
   background-size: 180px;
}

#menu{ 
    width: 45px;
       
}

#menu img{ 
    width: 25px;
    height: 25px;    
    justify-content: center;
    
    
}
.cabecera{
    padding: 20px;
    margin-top: 40px;
    color: white;
   
}

#icon_login, #lang, #menu{
   padding: 0px;
}

/*Seccion cabecera - Barra Busqueda*/
#br_busqueda{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 20%;
    margin-top: -150px;
}

#br_busqueda input{   
    width: 350px;
    height: auto;
   
    padding: 10px;
    border: 1px solid white;
    border-radius: 100px;
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    font-style: normal;
    
    background-color: transparent;
   background-image: url("../IMG/img_lupa004.png");
    background-repeat: no-repeat;
    background-position: right;
}
#galeria{
    display: grid;
    grid-template-rows:1fr 1fr;
    margin:0 5% 0 5%;
    row-gap:25px;
}
#fila1, #fila2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 25px;
}
.cajaimg1{
    text-decoration: none;
}
.cuadroTexto{
    display: grid;
    grid-template-rows: auto auto;
    background-color: white;
    padding: 1vw 0 1vw 2vw;
}

.cajaimg1:hover img{
    background-color: blueviolet;
    width: 330px;
    margin-top: -15px;
    height: auto;
}

.cajaimg1:hover .nombre{  
    font-size: 20px;     
}
.cajaimg1:hover .ciudad{  
    font-size: 24px;     
}


::placeholder { color: white; }

#br_viewAll{
   
    margin-top: -110px;
}

#img_puntos{
    visibility: hidden;
}

#btn_viewAll {
    width: 250px;
    height: auto;
   
    padding: 10px;
    border: 1px solid white;
    border-radius: 100px;
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: 20px;
    background-color: transparent;   
    margin-left:122px; 
    background-image: url("../IMG/img_flecha006.png");
    background-repeat: no-repeat;
    background-position: left;
}


#line{
    width: 2px;
    height: 100px;
    background-color: #464547
    ;
}

#btn_contactUs:hover{
    width: 200px;
    height: auto;   
    padding: 10px;
    border: 1px solid black;
    border-radius: 100px;
    color: white;
    background-color: #000;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    font-style: normal;  
   cursor: pointer;
    align-items:center;
    justify-content:center;
    justify-items:center;
    font-weight: bold;
}

h1{
    color: white;
   
    font-style: normal;
   
    line-height: 45px;
    margin-left:122px;
    font-family: 'Hedvig Letters Serif', serif;
    margin-top: -25px;   
}

h1 img{
    width: 300px; 
}

h2{
    color: #B4B7B7;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
    margin-left:135px;
    font-family: 'Hedvig Letters Serif', serif;
    
   
}

#social img{
    width: 15px;
    height: 15px;
}

#social img#follow_face{
    width: 8px;
    height: 14px;
}

#social{
    position:fixed;
	left:2vh;
	display:grid;
	grid-template-columns:1fr;
	width:fit-content;
	height:fit-content;
	top:35%;
	
	z-index:600;

}

#follow{
	font-weight:600;
	font-size:15px;
	color:#7E7E7E;
	transform:rotate(90deg)!important;
	grid-row:1/2;
	margin:0 0 75px -27px;

}

#busqueda{
    padding:3% 0 1% 0;
    display:grid;
    columns:2fr 1fr;
    justify-content:center;
    align-items:center;
    
    }
    


#sc_services{
    display: grid;
    grid-template-columns: 6fr 6fr;
    column-gap: 50px;

}

#img_services img{
    width: 100%;
    margin-left: 120px;
}

#text_services img#logoServices{
    width: 100%; 
    margin-top: 50px;
    
}

#text_services {
    width: 80%; 
    margin-left: 120px;   
}

#sc_textoGaleria1 {
   /* width: 80%; 
    margin-left: 120px;   */
    margin:10% 10% 0 10%;
    align-items: center;
}

#sc_textoGaleria2 {
    /* width: 80%; 
     margin-left: 120px;   */
     margin:10% 0% 10% 5%;
     align-items: center;
     margin-left: 15%;
 }


#tituloSrv, #titulo3{
	font-size:34px;
	margin-top:5%;
    /*margin-left: 5%;*/
	font-weight:400;
	color:#DF991B;
	text-align:left;
	margin-bottom:0;

}


#tituloGallery{
	font-size:34px;
	/*margin-top:5%;*/
    /*margin-left: 5%;*/
	font-weight:400;
	color:#DF991B;
	text-align:right;
	margin-bottom:0;
    margin-top: -15px;

}


#tituloGallery2{
	font-size:34px;
	/*margin-top:5%;*/
    
	font-weight:400;
	color:#DF991B;
	text-align:left;
	margin-bottom:0;
    margin-top: -15px;

}

p{
	display:block;
	margin-block-start:1em;
	margin-block-end:1em;
	margin-inline-start:0px;
	margin-inline-end:0px;
}



#navegarImagen3 {
    display:grid;
    grid-template-columns:1fr auto 1fr;
    align-items:center;
    justify-content:center;
    justify-items:center;
    margin-top: 150px;
    
}


#navegarImagen4 {
    display:grid;
    grid-template-columns:1fr auto 1fr;
    align-items:center;
    justify-content:center;
    justify-items:center;
    margin-top: 50px;
    
}

#navegarImagen5 {
    display:grid;
    grid-template-columns:1fr auto 1fr;
    align-items:center;
    justify-content:center;
    justify-items:center;
    margin-top: 50px;
   
    
}

#imgPrevia3 img, #imgSiguiente3 img{
    width: 60%;
   
    
}

#seccionImagen1{
 
    width: 300px;
    background-image: url("../IMG/img_galeria001.png");
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: center;
}

#seccionImagen2{
 
    width: 300px;
    background-image: url("../IMG/img_galeria002.jpg");
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: center;
}

#seccionImagen3{
 
    width: 300px;
    background-image: url("../IMG/img_galeria001.png");
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: center;
}

#seccionImagen4{
 
    width: 300px;
    background-image: url("../IMG/img_galeria002.jpg");
    background-size: cover;  
    background-repeat: no-repeat;
    background-position: center;
}

#seccionImagen5{ 
  
   
    background-image: url("../IMG/img_galeria001.png");
    background-size: cover; 
    background-size: 100%; 
    background-repeat: no-repeat;
    background-position: center;
}

#seccionImagen5{ 
  
   
    background-image: url("../IMG/img_galeria003.png");
    background-size: cover; 
    background-size: 100%; 
    background-repeat: no-repeat;
    background-position: center;
}

#seccionImagen6{   
   
    background-image: url("../IMG/img_galeria004.jpg");
    background-size: cover; 
    background-size: 100%; 
    background-repeat: no-repeat;
    background-position: center;
}


#seccionImagen7{   
   
    background-image: url("../IMG/img_galeria003.jpg");
    background-size: cover; 
    background-size: 100%; 
    background-repeat: no-repeat;
    background-position: center;
}

#seccionImagen8{   
   
    background-image: url("../IMG/img_galeria004.jpg");
    background-size: cover; 
    background-size: 100%; 
    background-repeat: no-repeat;
    background-position: center;
}

#seccionImagen9{   
   
    background-image: url("../IMG/img_galeria003.jpg");
    background-size: cover; 
    background-size: 100%; 
    background-repeat: no-repeat;
    background-position: center;
}

#seccionImagen10{   
   
    background-image: url("../IMG/img_galeria004.jpg");
    background-size: cover; 
    background-size: 100%; 
    background-repeat: no-repeat;
    background-position: center;
}





#btn_contactUs {
    width: 200px;
    height: auto;   
    padding: 10px;
    border: 1px solid black;
    border-radius: 100px;
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    font-style: normal;  
    background-color: transparent;
    align-items:center;
    justify-content:center;
    justify-items:center;
    font-weight: bold;
   
}


#tituloPrincipal, #tituloPrincipal3{
    color: #000;
    font-family: PF Regal Display Pro;
    font-size: 60px;
    font-style: normal;
    
    margin-top: -5px;   
    line-height: 65px; /* 81.25% */
}

#tituloPrincipal2{
    text-align: right;
    color: #000;
    font-family: PF Regal Display Pro;
    font-size: 60px;
    font-style: normal;
    
    margin-top: -5px;   
    line-height: 65px; /* 81.25% */
}

#tituloPrincipal22{
    text-align: left;
    color: #000;
    font-family: PF Regal Display Pro;
    font-size: 60px;
    font-style: normal;
    
    margin-top: -5px;   
    line-height: 65px; /* 81.25% */
}

#parrafoSeccion4{
    color: #000;
    align-items:center;
    justify-content:center;
    justify-items:center;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 100;
    line-height: 30px; /* 150% */
    margin-top: -25px;
    text-align: justify;
}

#parrafoSeccion5{
    color: #000;
    align-items:center;
    justify-content:center;
    justify-items:center;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 100;
    line-height: 30px; /* 150% */
    margin-top: -25px;
    text-align: justify;
    width: 90%;
}

#sc_properties{
    display: grid;
    width: 100%;
   
    align-items:center;
    justify-content:center;
    justify-items:center;
}

.contenedorimg img{
    width: 300px;
    height: auto;
}

.nombre{
    color: black;
    font-size: 16px;
    font-family: PF Regal Display Pro;
}

.ciudad{
    color: black;
    font-family: PF Regal Display Pro;
    font-size: 20px;
    font-weight: bold;
}

a:link, a:visited, a:active {
    text-decoration:none;
}


.pieImg{
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
    background-color: rgba(0,0,0,30%);
    align-items: end;
    cursor: pointer;
    line-height: 5px;
}

.pieImg p{
    color: white;
    font-weight: 400;
    padding-left: 5%;
    direction: initial;
}
.parte2textoimg{
    font-size: 23px;
    margin-top: 0%;
    margin-bottom: 5%;
}

#sc_gallery1{
    display: grid;
    grid-template-columns: 1fr 1fr;   
    margin-bottom: 5px;
}


#sc_gallery2{
    display: grid;
    grid-template-columns: 1fr 1fr;   
    margin-bottom: 5px;
}
.pieImg:hover .castillo{
    display: inline-block;
    left:150px;
}

.pieImg:hover div.pie{
    background-color: white;
   
}

.pieImg:hover div.pie p.parte2textimg{
  font-weight: bold;
}

.parte2textimg{
    font-size: 20px;
}




#galeriaimg{
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: all 0.5s ease;
    direction: rtl;
    column-gap: 7px;
}


#galeriaimg2{
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: all 0.5s ease;
    direction: ltr;
    column-gap: 7px;
}

.parte1textoimg .castillo{
    margin-bottom: 0%;
    display: none;
    width: 10%;
}

.imagencarrusel {
    min-height: 300px;
    min-width: 250px;
    margin:10px;    
    display: grid;
    align-items: end;
    background-position: center;
   
}

.pieImg:hover p{
    color: #464547;
    
}

.pieImg p{
    color: white;
    font-weight: 400;
    padding-left: 5%;
    direction: initial;
}